.header {
  padding-top: 46px;
  padding-bottom: 46px;
  height: 230px;
  position: relative;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding-top: 41px;
    padding-bottom: 41px;
  }
}

.header-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('/src/images/mobile/main-header-bg-mobile.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/mobile/main-header-bg-mobile@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/tablet/main-header-bg-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('/src/images/tablet/main-header-bg-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/desktop/main-header-bg-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('/src/images/desktop/main-header-bg-desktop@2x.jpg');
    }
  }
}

.header-library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/bg-images-library/mobile.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/bg-images-library/mobile@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/bg-images-library/tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/bg-images-library/tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/bg-images-library/desctop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/bg-images-library/desctop@2x.jpg');
    }
  }
}

.nav {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo-text {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
}

.nav-btn {
  text-transform: uppercase;
  color: #ffffff;
}

#home {
  margin-right: 40px;
}

.nav-list-item button {
  position: relative;
}

.nav-btn--underline::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: $accent-darker-color;
}

.header-form {
  position: relative;
}

.header-search-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
  padding-left: 6px;
  outline: none;

  color: #ffffff;
  background-color: inherit;

  border: 1px solid rgba(255, 255, 255, 0.3);

  min-width: 280px;
  height: 40px;
  transition: border 0.25s ease;

  &:hover,
  &:focus {
    border: 3px solid rgba(255, 107, 1, 0.6);
  }

  @media screen and (min-width: 768px) {
    min-width: 336px;
  }
}

.search-btn {
  position: absolute;
  top: 25%;
  right: 5px;
}

//library page header
.header-library {
  .header-container {
    padding-bottom: 68px;

    @media screen and (min-width: 768px) {
      padding-bottom: 57px;
    }
  }

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
  url('/src/images/header-library/header-library-bg-mob-1x.jpg');

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/header-library/header-library-bg-mob-2x.jpg');
  }

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/header-library/header-library-bg-tablet-1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)),
        url('/src/images/header-library/header-library-bg-tablet-2x.jpg');
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/header-library/header-library-bg-desc-1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)),
        url('/src/images/header-library/header-library-bg-desc-2x.jpg');
    }
  }
}